p {
	font-family: FreeMono, monospace;
	font-size: 1.2em;
	color: white;
}

H1 {
	font-family: OCR A Std, monospace;
	font-size: 10em;
	color: Purple;
	background-color: ;
	}
	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
