p {
	font-family: FreeMono, monospace;
	font-size: 7em;
	color: white;
}

H1 {
	font-family: OCR A Std, monospace;
	font-size: 5em;
	color: Purple;
	background-color: ;
	}

H2
{
	font-family: OCR A Std, monospace;
	font-size: 2em;
	color: yellow;
	background-color: ;
	}

H3
{
	font-family: OCR A Std, monospace;
	font-size: 3em;
	color: green;
	background-color: ;
	}
	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20;
  background-color: black;
  border: 2px solid #black;
}

}
